page-timeline {
  .timeline-point {
    left: 5.3% !important;
    top: 50px !important;
    border: 4px solid #f9f9f9 !important;
    background-color: #ccc !important;
    height: 15px !important;
    width: 15px !important;
    margin-right: 40px !important;
    margin-left: -25px !important;
  }
  .timeline-item {
    margin-left: 5px !important;
  }

  ion-content {
    background-color: #f9f9f9 !important;
  }
}
