page-home {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
    font-weight: bold;
  }
  ion-header,
  ion-content {
    background-color: #f9f9f9 !important;
  }
  .next-event {
    margin: 5px !important;
    width: 100%;
    padding-bottom: 15px;
  }
  .next-event ion-card-content {
    color: white !important;
    display: flex;
    flex-direction: row;
  }
  .home-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .home-item div {
    height: 100%;
    border-radius: 3px;
    width: 100%;
    background-color: white;
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // border: 1px solid black;
    line-height: 20px !important;
    flex-direction: row;
  }
  .home-item-holder {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14);
  }
  .home-item-holder div {
    height: fit-content;
    flex-direction: row;
  }
  .home-item-holder div:first-child {
    font-size: 40px;
    flex-direction: column;
  }
  .home-item-father {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-md::before {
    background-image: none !important;
  }
  ion-badge {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    opacity: 0.9;

    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}
