page-enchiridion {
  ion-content {
  }
  .scroll-content {
    background-color: #f9f9f9;
  }
  .card-md {
    box-shadow: none !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14) !important;
  }
  ion-icon {
    margin-right: 10px !important;
  }
  ion-label {
    margin: 0 auto !important;
  }
  .search-bar {
    background: #32db64;
    padding: 5px 1px;
  }
  input,
  .button-md-secondary {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.14) !important;
  }
  .description {
    padding-left: 10px;
  }
  ion-card-header {
    padding: 10px !important;
    padding-bottom: 0px !important;
  }
}
