<ion-header>
  <ion-navbar> <ion-title>Vacinas</ion-title> </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-item color="pront">
        <ion-label>Ver como: </ion-label>
        <ion-select [(ngModel)]="optionSelected">
          <ion-option *ngFor="let option of options" [value]="option.value">{{
            option.viewValue
          }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row padding *ngFor="let step of steps">
      <ion-col col-3>
        <circle-progress
          [percent]="step.value"
          [radius]="100"
          [titleFontSize]="50"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#a2ffa4'"
          [innerStrokeColor]="'#a2ffa4'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]="true"
          [unitsFontSize]="35"
        ></circle-progress>
      </ion-col>
      <ion-col col-9>
        <button no-padding ion-item (click)="openStep(step.name)">
          <h2>{{ step.name }}</h2>
          <p text-wrap>{{ step.description }}</p>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-item>
    <p text-center text-wrap>
      As vacinas são desbloqueadas automaticamente de acordo com sua idade
    </p>
  </ion-item>
</ion-footer>
